  <mat-list>
    <mat-divider></mat-divider>
    <div mat-subheader> Archived notes </div>
    <div *ngFor="let note of notes">
    <mat-list-item  *ngIf="note.archived == 1">
            <mat-icon mat-list-icon>note</mat-icon>
            <div mat-line> {{ note.name }} </div>
            <div mat-line> {{ note.archived }} </div>
            <div mat-line> {{ note.created }} </div>
            <button (click)="show(note.id)" mat-icon-button color="red" aria-label="Example icon button with a home icon">
                <mat-icon>visibility</mat-icon>
            </button>
        </mat-list-item>
    </div>
</mat-list>